*{
padding: 0px;
margin : 0px;
}

#heading_container{
/* background-color: grey; */

}

#heading_container h1{
    font-size: 30px;
    text-align: center
}

#Slot_container_main{
    margin-top: 20px;
    /* background-color: blue; */
    height:500px;
}

#Slots_per_day{
    /* background-color: cyan; */
    height: 50px;
}

#Slots_input{
    width: 700px;
}

#Input_Main{
    margin-top: 20px;
    height: 575px;
    /* background-color: blue; */
}

#Left_Input{
    margin-top: 25px;
    height: 500px;
    /* background-color: aqua; */
    float: left;
}

#Right_Input{
    margin-top: 25px;
    height: 500px;
    /* background-color: brown; */
    float: left;
}

#Left_Input .container{
    height: 75px;
    /* background-color: black; */
}

#Left_Input .container p{

    margin-top: 20px;
    float: left ;
    
    
}


#Right_Input .container{
    height: 75px;
    /* background-color:gray; */
}

#Right_Input .container p{

    margin-top: 20px;
    float: left ;
    
    
}


.right_inputs{
    height: 75px;

}

.right_inputs p{
    margin-top: 20px;
    float: left;
}

input.form-control{

    margin-left: 20px;
    margin-top: 15px;
    width: 300px;
    float:left;
}

.break .container-fluid{

    height: 100px;
    /*background-color: red;*/
    
}

#left_break{
	float: left;
	height: 100px;
	/*background-color: black;*/
}

#right_break{
	float: left;
	height: 100px;
	/*background-color: blue;*/
}

#left_break *{
	float: left;
}

#right_break *{
	float: left;
}

#left_break p {
	margin-top: 25px;
}

#right_break p {
	margin-top: 25px;
}

.footer{
	height:75px;
	/*background-color: black;*/
}

#noob{
	float: right;
	height: 75px;
	/*background-color: green;*/
}
