*{
padding: 0px;
margin : 0px;
}

#heading_container{
/* background-color: grey; */

}

#heading_container h1{
    font-size: 30px;
    text-align: center
}

#Slot_container_main{
    margin-top: 20px;
    /* background-color: blue; */
    height:500px;
}

#Slots_per_day{
    /* background-color: cyan; */
    height: 50px;
}

#Slots_input{
    width: 700px;
}

#Input_Main{
    margin-top: 20px;
    height: 650px;
    /* background-color: blue; */
}

#Left_Input{
    margin-top: 25px;
    height: 600px;
    /* background-color: aqua; */
    float: left;
}

#Right_Input{
    margin-top: 25px;
    height: 600px;
    /* background-color: brown; */
    float: left;
}

.Test{
    height: 75px;
    
}

.Test p{

    margin-top: 20px;
    float: left 
    
    
}

.right_inputs{
    height: 75px;

}

.right_inputs p{
    margin-top: 20px;
    float: left;
}

input.form-control{

    margin-left: 20px;
    margin-top: 15px;
    width: 300px;
    float:left;
}


